<div class="container">
  <div class="content-box">
    <!-- Página Inicial -->
    <div *ngIf="currentPage === 'home'">
      <h1>Bem-vindo à Loja de Pijamas Vestir & Dormir!</h1>
      <p>Escolha uma opção para começar:</p>
      <button class="button" (click)="navigateTo('form')">Iniciar como anônimo</button>
      <button class="button" (click)="navigateTo('form')">Criar conta</button>
    </div>

    <!-- Página de Formulário -->
    <div *ngIf="currentPage === 'form'">
      <h1>Personalize seu pijama de acordo com suas preferências!</h1>
      <form (ngSubmit)="submitForm()">
        <label for="cor">Cor:</label>
        <select id="cor" [(ngModel)]="selectedColor" name="cor">
          <option value="azul">Azul</option>
          <option value="rosa">Rosa</option>
          <option value="verde">Verde</option>
          <option value="vermelho">Vermelho</option>
        </select>

        <label for="estilo">Estilo:</label>
        <select id="estilo" [(ngModel)]="selectedStyle" name="estilo">
          <option value="cropped">Cropped</option>
          <option value="macaquinho">Macaquinho</option>
          <option value="americano">Americano</option>
        </select>

        <label for="estampa">Estampa:</label>
        <select id="estampa" [(ngModel)]="selectedPrint" name="estampa">
          <option value="floral">Floral</option>
          <option value="animal">Animal</option>
          <option value="frutas">Frutas</option>
          <option value="liso">Liso</option>
        </select>

        <button type="submit" class="button">Enviar</button>
        <button type="button" class="button" (click)="goToHome()">Voltar</button>
      </form>
    </div>

    <!-- Página de Resultado -->
    <div *ngIf="currentPage === 'resultado'">
      <h1>Suas Escolhas</h1>
      <p><strong>Cor Escolhida:</strong> {{ selectedColor }}</p>
      <p><strong>Estilo Escolhido:</strong> {{ selectedStyle }}</p>
      <p><strong>Estampa Escolhida:</strong> {{ selectedPrint }}</p>
      <button class="button" (click)="navigateTo('form')">Voltar</button>
      <button class="button" (click)="navigateTo('produto-detalhes')">Concluir</button>
    </div>

    <!-- Página de Detalhes do Produto -->
    <div *ngIf="currentPage === 'produto-detalhes'">
      <h1>Detalhes do Produto</h1>
      <p><strong>Cor:</strong> {{ selectedColor }}</p>
      <p><strong>Estilo:</strong> {{ selectedStyle }}</p>
      <p><strong>Estampa:</strong> {{ selectedPrint }}</p>
      <p><strong>Descrição:</strong> Este produto é o que há de mais confortável para o seu sono e lazer.</p>
      <button class="button" (click)="addToCart()">Adicionar ao Carrinho</button>
      <button class="button" (click)="goToHome()">Voltar</button>
    </div>
  </div>
</div>
